<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2019
  ~ All rights reserved Amogh Mehta
  ~ Last Modified 1/7/19 12:18 PM
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.personal.scoutingappandroid.feature">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <application>
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/maelstrom_symbol_no_background"
            android:label="FTC Rover Ruckus Scouting"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScoutDetail.ScoutDetailActivity"
            android:label="@string/title_activity_scout_detail"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="warrantycheckapi.herokuapp.com"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>